<div class="m++">
    <p>Hey {{person.name}}, </p>
    <p class="ml++">How are you felling now?</p>
</div>

<div class="center">
   <div class="wrapper-buttons-mud"><!-- Wrapper all buttons/options of mud-->
        <div class="box-button" *ngFor="let item of moodsList" (click)="onclickSelectMood(item)">
            <div class="animation-{{item.cssClass}}"></div>
            <div class="wrapper-img">
                <img src="/app/icons/{{item.cssClass}}.png" alt="{{item.mood}}!">
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="btn-wrapper mt++">
        <button class="center" type="button" (click)="onclickNext()">Next</button>
    </div>
</div>
