<div class="flex-header">
    <div>
        <p class="page-title">Choose an activity</p>
    </div>
    <div class="buttons">
        <button type="button" (click)="onclickNew()">New Activity</button>
        <button type="button" (click)="onclickNext()">Ok</button>
    </div>
</div>

<div *ngFor="let item of list" class="situations p++">
    <div (click)="onclickSelectSituation(item)">
        <span>{{item.description}}</span>
        <span class="select" id="item_{{item.id}}"></span>
    </div>
</div>

