<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Testes Animação</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <div class="center">
       <div class="wrapper-buttons-mud"><!-- Wrapper all buttons/options of mud-->
            <div class="box-button">
                <div class="animation-happy"></div>
                <div class="wrapper-img">
                    <img src="../icons/happy.png" alt="Happy!">
                </div>
            </div>
            <div class="box-button">
                <div class="animation-good"></div>
                <div class="wrapper-img">
                    <img src="../icons/good.png" alt="Happy!">
                </div>
            </div>
            <div class="box-button">
                <div class="animation-normal"></div>
                <div class="wrapper-img">
                    <img src="../icons/normal.png" alt="Happy!">
                </div>
            </div>
            <div class="box-button">
                <div class="animation-bad"></div>
                <div class="wrapper-img">
                    <img src="../icons/bad.png" alt="Happy!">
                </div>
            </div>
            <div class="box-button">
                <div class="animation-awful"></div>
                <div class="wrapper-img">
                    <img src="../icons/awful.png" alt="Happy!">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
