<header>
    <input type="checkbox" id="control-nav" />
        <span class="title">{{title}}</span>
        <label for="control-nav" class="control-nav"></label>
        <label for="control-nav" class="control-nav-close"></label>
    <div class="logo"><img src="" alt=""></div>
    <nav class="menu">
       <ul>
            <li><a [routerLink]="['Person']">- Tell us your name</a></li>
            <li><a [routerLink]="['Mood']">- Choose a mood</a></li>
            <li><a [routerLink]="['Entries']">- My list of moods</a></li>
            <li><a [routerLink]="['Event']">- About my mood</a></li>
            <li><a [routerLink]="['Chart']">- Chart</a></li>
       </ul>
    </nav>
</header>
<div class="content">
        <router-outlet></router-outlet>
</div>
