<header>
    <input type="checkbox" id="control-nav" />
        <span class="title">{{title}}</span>
        <label for="control-nav" class="control-nav"></label>
        <label for="control-nav" class="control-nav-close"></label>
    <div class="logo"><img src="" alt=""></div>
    <nav class="menu">
       <ul>
            <li><a [routerLink]="['Person']">1. Name</a></li>
            <li><a [routerLink]="['Mood']">2. Choose a mood</a></li>
            <li><a [routerLink]="['SituationList']">3. Why? Choose some situations</a></li>
            <li><a [routerLink]="['SituationAdd']">4. Add situations</a></li>
            <li><a [routerLink]="['Entries']">5. Show a list of moods per day</a></li>
            <li><a [routerLink]="['Chart']">6. Chart</a></li>
            <li><a [routerLink]="['Event']">7. About my mood</a></li>
        </ul>
    </nav>
</header>
<div class="content">
        <router-outlet></router-outlet>
</div>