<p>Entries</p>

<p *ngIf="entriesList.length === 0">No entries</p>

<div *ngFor="#item of entriesList">
    <div>
        <p><b>{{item.mood}}</b></p>
        <p><label *ngFor="#item2 of item.events">{{item2.description}} / </label></p>
        <p>{{item.time | date: "MMM/dd - HH:mm"}}</p>
        <button (click)="onclickDelete(item)">Delete</button>
    </div>
</div>

<button type="button" (click)="onclickGoToCharts()">View Charts</button>
<button type="button" (click)="onclickNew()">New Mood</button>
