<div class="flex-header">
    <div>
        <p class="page-title">My list of moods</p>
    </div>
    <div class="buttons">
        <button type="button" (click)="onclickGoToCharts()">View Charts</button>
        <button type="button" (click)="onclickNew()">New Mood</button>
    </div>
</div>

<p *ngIf="entriesList.length === 0" class="ml++">No entries! Add new mood</p>

<div *ngFor="let item of entriesList" class="entries flex-header">
    <div>
        <p>
            <img src="app/icons/{{item.moodImg}}.png" alt="{{item.mood}}!">
            <b>{{item.mood}}</b>
        </p>
        <p class="description"><label *ngFor="let item2 of item.events"> <span class="bull">&bull;</span> {{item2.description}}</label></p>
        <p class="time">{{item.time | date: "MMM/dd - HH:mm"}}</p>
    </div>
    <div>
        <button (click)="onclickDelete(item)">Delete</button>
    </div>
</div>